<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pro.salon.cattocdi">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashStyle"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" android:launchMode="singleTop"/>
        <activity android:name=".LoginActivity" android:launchMode="singleTop"/>
        <activity android:name=".SignupActivity" android:launchMode="singleTop"/>
        <activity android:name=".ListAppointmentActivity" android:launchMode="singleTop"/>
        <activity android:name=".AppointmentDetailActivity" android:launchMode="singleTop"/>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity android:name=".PromotionActivity" android:launchMode="singleTop"/>
        <activity android:name=".ServiceActivity" android:launchMode="singleTop"/>
        <activity android:name=".WorkingHoursActivity" android:launchMode="singleTop"/>
        <activity android:name=".InformationActivity" android:launchMode="singleTop"/>
        <activity android:name=".ContactDetailActivity" android:launchMode="singleTop"/>
        <activity android:name=".ServiceDetailActivity" android:launchMode="singleTop"/>
        <activity android:name=".PromotionDetailActivity" android:launchMode="singleTop"/>
        <activity android:name=".ReviewProfileActivity" android:launchMode="singleTop"/>
    </application>

</manifest>